:root{
    --body-color: #29A38F;
    --sidebar-color:#FFF;
    --primary-color:#29A38F  ;
    --primary-color-light:#f5fffd;
    --toggle-color:#DDD;
    --text-color:#8b8b8b;
    --text-color-light:#ffffff;
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}
*{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background: var(--body-color);
    transition: var(--tran-04);
    display: flex;
    overflow: hidden;
}
body.dark{
    --body-color: #18191A;
    --sidebar-color:#29A38F;
    --primary-color:#3A3B3C ;
    --primary-color-light:#6cbdaf;
    --toggle-color:#FFF;
    --text-color:#ffffff;
    --text-color-light:#ffffff;
}

/* ======================= side bar =========================== */
.sidebar{
    top:0 ;
    left: 0;
    height: 100%;
    width: 300px;
    padding: 10px 14px;
    background-color:var(--sidebar-color) ;
    transition: var(--tran-03);
    overflow: hidden;
    z-index: 1111111111;
    box-shadow:1px 1px 10px  #4d4c4c7c;
    border-radius: 0 10px 10px 0;
}
.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    opacity: 1;
}
.sidebar .image{
    min-width:60px ;
    max-width: 60px;
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.sidebar li .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    min-width: 60px;
}

.sidebar ul{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.sidebar li{
    height:65px ;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}
.sidebar li .icon,
.sidebar li .text{
   color: var(--text-color);
   transition: var(--tran-02);
   
}
.sidebar header{
    position:relative;
}
.sidebar .image-text i{
   width: 100%;
   border-radius: 6px;
   cursor: pointer;
   font-size: 2rem;
   margin-left: 15px;
   margin-top: 10px;
   color: var(--text-color);
}
.sidebar header .image-text{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.sidebar  .image-text .header-text{
    display: flex;
    flex-direction:column ;
}

.header-text .profession{
    margin-top: -2px;
    font-weight: 600;
    font-size: 1.3rem;
}

.sidebar .search-box{
    background-color: var(--primary-color-light);
}
.sidebar .search-box icon{
    margin-left: 20px;
}
.sidebar .search-box input{
    height: 100%;
    width: 100%;
    padding-right: 15px;
    outline: none;
    border: none;
    border-radius:6px ;
    background-color: var(--primary-color-light);
    color: var(--text-color);
}
.sidebar li a,li{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 20px;
    padding-left: 20px;
    border-radius:6px ;
    padding: 0;
}
.sidebar .nav-link:hover{
    background: var(--primary-color);
}
.sidebar .nav-link-red:hover{
    background: #DC3545;
}
.sidebar .nav-link-mode{
    cursor: pointer;
}
.sidebar .nav-link-mode:hover{
    background: var(--primary-color);
    color: white;
}
.sidebar .nav-link-mode:hover span { 
    color: white;
}
.sidebar .nav-link-mode:hover i { 
    color: white;
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
     color: #FFFFFF;
}
.sidebar .menu-bar{
    height: calc(100% - 50px );
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-bar .mode{
    position: relative;
    margin-bottom: 15px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}
.menu-bar .mode .moon-sun{
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}
.menu-bar .mode i{
    position: absolute;
    transition: var(--tran-03);
}
.menu-bar .mode i.moon{
    opacity: 0;
}
.menu-bar .mode .toggle-switch{
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;  
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 44px;
    border-radius:25px ;
    background-color: var(--toggle-color);
}
.switch::before{
   content: '';
   position: absolute;
   height: 15px;
   width: 15px;
   border-radius: 50%;
   top: 50%;
   left: 5px;
   transform: translateY(-50%);
   background: var(--sidebar-color);
   transition:var(--tran-03);
}
.bottom-content .nav-link-{
    height: 25px;
}
/* ======================= side bar End=========================== */
/* ---------------------sidebar query--------------------------- */
@media screen and (max-width: 991px){
    .sidebar .menu-bar .menu{
        height: 80%;
    }
    .sidebar.close{
        position: relative;
    }
    .sidebar{
        position: fixed; 
    }}
    @media screen and (max-width: 350px){
        .sidebar{
            width: 230px;  }
        }

        
    @media screen and (max-height: 760px){
        .sidebar .menu-bar .menu{
            height: 90%;
        }
        .bottom-content{
            margin-top: -80px;
        }
        .sidebar ul{
            height: 70%;
        }
        .bottom-content ul li{
            height: 50%;
        }
        .bottom-content ul{
            height: px;
        }
        .bottom-content .nav-link-mode{
            height: 50px;
        }
        .bottom-content .nav-link-red a{
            height: 50px;
        }
    }
    @media screen and (max-height: 500px){
        .sidebar .menu-bar .menu{
            height: 90%;
        }
        .sidebar ul{
            height: 70%;
        }
        .bottom-content ul li{
            height: 10%;
        }
        .bottom-content .nav-link-mode{
            height: 20px;
        }
        .bottom-content .nav-link-red{
            height: 20px;
        }
    }
   
/* ------------------sidebar query end----------------------------- */

/* ======================= side bar Closed =========================== */

.sidebar.close{
    width: 88px;
}

.sidebar.close .text{
   opacity:0 ;
   display: none;
}

.sidebar.close .menu-bar .menu li a{
    margin: 0;
    padding: 0;
}
.sidebar.close .search-box{
    margin: 0;
    padding: 0;
}
.sidebar.close .search-box input{
    display: none;
    opacity: 0;
}

.sidebar.close li {
    padding: 0;
}
.sidebar.close header .image-text{
    margin-bottom: 20px;
}
.sidebar.close li a{
    padding-left: 0;
}
.sidebar.close .mode{
    margin-bottom: 25px;
    padding: 0;
}
.sidebar.close .toggle-switch .switch{
    display:none;
}

/* ======================= side bar Closed end =========================== */
/* ======================= Body Dark =========================== */
body.dark .sidebar .search-box input::placeholder{
    color: white;
}
body.dark .search-box input{
    color: white;
}



body.dark .menu-bar .mode i.moon{
    opacity: 1;
}
body.dark .menu-bar .mode i.sun{
    opacity: 0;
}


body.dark .switch::before{
    left: 25px;
}


/* ======================= Body Dark end =========================== */



/* ======================= Main=========================== */

   

main{
    width: calc(100% - 300px);
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex-grow: 11;
}
/* ======================= main end =========================== */
/* ======================= main sidebar closed=========================== */
main.close{
    width: calc(100vw - 88px);
    flex-grow: 111;
}
/* ======================= main sidebar closed end=========================== */


/* --------------------------------widgets--------------------------------------- */
main .upper-section{
 display: flex;
 flex-direction: column;
    width: 100%;
    height: 60%;
    padding: 10px;
    gap: 10px;
    
}
.up{
    width: 100%;
    height:49%;
    display: flex;
    
}
main .upper-section .up .upperelement{
    width: 32%;
    height:90%;
    margin: 10px;
}
main .upper-section .up .upperelement .box{
    margin-left: 50px;
    margin-right: 40px;
 }

main .down-section{
    display: flex;
    width: 100%;
    height: 40%;
    padding: 10px;
    gap: 20px;
}


main .down-section .left{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    height: 100%;
    padding: 20px;
    border-radius: 6px;
    background: white;
}
main .down-section .right{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    height: 100%;
    padding: 20px;
    border-radius: 6px;
    background: white;
}
/* --------------------------------widgets--------------------------------------- */
/* --------------------------------Header--------------------------------------- */
main header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 55px;
    padding-right: 45px;
}
main header span{
    color: var(--text-color-light);
    font-weight: 600;
    font-size: 1.9rem;
}
main header i{
    font-size: 1.6rem;
    color: var(--primary-color-light);
    cursor: pointer;
}

/* --------------------------------Header--------------------------------------- */
/* --------------------------------Header query--------------------------------------- */
@media screen and (max-width: 1200px){
    main header{
        height: 60px;
        padding-top: 30px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    main header span{
        color: var(--text-color-light);
        font-weight: 600;
        font-size: 1.9rem;
    }
    main header i{
        font-size: 1.6rem;
        color: var(--primary-color-light);
        cursor: pointer;
    }
}
/* --------------------------------Header query end--------------------------------------- */





/* --------------------------------------------widgets query---------------------------------------------- */
@media screen and (max-width: 1200px){
    main .upper-section {
        flex-direction: row;
    }
    main .upper-section .up{
      flex-direction: column;
      height: 100%;
    }
    main .upper-section .up .upperelement{
        width: 100%;
        height:100%;
        margin: 4px;
       
    }
    main .upper-section .up .upperelement .box {
        margin-left: 10px;
        margin-right: 10px;
     }
   
}

@media screen and (max-width: 600px){
    main{
     padding: 0;
     margin: 0;
    }
    main .upper-section{
         height: 100vh;
         gap: 1px;
         padding-bottom: 0;
         flex-direction: column;
    }
    main .upper-section .up{
        width: 100%;
        height: 45%;
        flex-direction: column;

    }
    main .upper-section .up .upperelement{
       width: 95%;
       height: 30%;
       margin: 5px;
       padding: 0;
       
    }
    main .upper-section .up .upperelement .box{
       margin: 30px;
       padding: 10px;
    }
    main .down-section{
        display: none;
    }}
  
/* --------------------------------------------widgets query---------------------------------------------- */
